extends ../layouts/default

block content
	.container: .jumbotron
		
		h1 Welcome Home Sanitarium
		p The Name is <strong>Michael Francis</strong>, this is my <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> Portfolio!
		
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p I have conjured this page to learn and understand the following technologies.
			
			p Heroku, Pug, Less
				
		hr
		p <strong>PAGE UNDER CONSTRUCTION</strong>
