extends ../layouts/default

block content
	.container: .jumbotron
		
			h1 Welcome Everyone!
		p The Name is Michael Francis, this is my <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> Portfolio!
		
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p I have changed the default Admin user for you Elijah! Some email! <strong>Email</strong> and the password <strong>Some Password</strong>.
			p
				
		hr
		p <strong>PAGE UNDER CONSTRUCTION</strong>
